/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	position: relative;
	height: 100vh;
	margin: 0;
	padding: 0;
}
.title {
	position: absolute;
	z-index: 5;
	top: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #fff;
	border: 1px solid #999;
	height: 10vh;
	font-size: 7vh;
}
