/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 90vh;
	margin: 0;
	padding: 0;
}
.title {
	height: 10vh;
	font-size: 7vh;
}
